{% extends "mainApp/base.html"%}
{% load crispy_forms_tags %}


{% block content %}
<div class="jumbotron text-right" id="inputJumboText">
  <div class="container">
    <div class="row">
    <div class="text-center col-md-5 col-12">
      <div class="jumbotron bg-secondary text-white">
        <form method='post' id='jobForm'>
            {% csrf_token %}
            {{ form|crispy }}
        </form>
      </div>

    </div>
    <div class="text-center col-md-7 col-12">
      <div class="jumbotron bg-secondary text-white">
        <form method='post' enctype='multipart/form-data'>
          {% csrf_token %}
          {{ imageForm|crispy }}
          <button class="btn btn-info" type="submit">Submit</button>
          <p>&nbsp;</p>

          {% if bs64 %}
          <img src="data:image/png;base64,{{bs64}}" width="55%" height="55%">
          {% endif %}
        </form>
      </div>

    </div>

    {% if resultsLoaded %}
    <div class="jumbotron bg-secondary text-white text-center" id='modelTable'>
      <h3> Results: </h3>
      <hr>
      <h4> Neural Network Confidences for Covid-Positivity: </h4>
      <h5> Our AI Powered Coronavirus Detection uses 8 convolutional neural networks each trained on different fold of data. This allows you CT scans to be analyzed to the highest degree possible degree. The final prediction is displayed underneath the model confidences.
      <p>&nbsp;</p>
      <table id='modelTable'>
           <tr>
               <td><input class="test2" type="text" placeholder="{{c1}}% Confidence" disabled></td>
               <td><input class="test2" type="text" placeholder="{{c2}}% Confidence" disabled></td>
               <td><input class="test2" type="text" placeholder="{{c3}}% Confidence" disabled></td>
               <td><input class="test2" type="text" placeholder="{{c4}}% Confidence" disabled></td>
           </tr>
           <tr>
               <td><input class="test1" type="text" placeholder="{{c5}}% Confidence" disabled></td>
               <td><input class="test1" type="text" placeholder="{{c6}}% Confidence" disabled></td>
               <td><input class="test1" type="text" placeholder="{{c7}}% Confidence" disabled></td>
               <td><input class="test1" type="text" placeholder="{{c8}}% Confidence" disabled></td>
           </tr>
       </table>
      <p>&nbsp;</p>
       {% if covidPositive %}
       <div class="jumbotron bg-danger text-white">
         <h3> Significant COVID-19 Characteristics Detected </h3>
         <h3> AI System Confidence: {{ confidence }}% </h3>
       </div>
       {% else %}
       <div class="jumbotron bg-success text-white">
         <h3> No Significant COVID-19 Characteristics Detected </h3>
         <h3> AI System Confidence: {{ confidence }}% </h3>
       </div>
       {% endif %}
    </div>
    {% endif %}

  </div>
  </div>
</div>


{% endblock content %}
