#hWork{
    position:fixed;
    bottom:0px;
    width: 60%;
    left: 20%;
    background-color: #E54B4B;
    margin-bottom: 0rem;
    border-radius: 1.5rem;
}
#inputJumboFile{
    margin: 2rem;
    margin-bottom: 0rem;
    width:38%!important;
    float:left;
    background-color: #ffc1a8;
    border-radius: 1.5rem;

}
#inputJumboText{
    margin-bottom: 0rem;
    /*width:100%!important;*/
    /*float:right;*/
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #ffc1a8;
    border-radius: 0rem;
}

#uploadRegion{
  left: 50%;
}
.navbg{
    background-color:#b0f5f3;

}

#modelTable{
    width: 100%;
    margin:auto;
}

.navbar-brand{
    color: black!important;
    font-size: 150%!important;
}
body{
    width: 100%;
    height: 100%;
    background-color: #daf5f4!important;
}
html{
    scroll-behavior: smooth;
    width: 100%;
    overflow-x: hidden!important;
    /*overflow-y: hidden!important;*/
}
#mpTitle{
    padding-top: 20px;
    font-size: 130px;
}
.wrap{
    /*width: 20%;*/
    /*: 20px!important;*/
}
#abText{
    font-size: 2rem!important;
    color: black;
    width: 100%;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;
}
p{
    /*font-size: 3rem;*/
}
#diagnoseBtn{
    /*width: 100%;*/
    /*position: relative;*/
    font-size: 3rem;
    /*left: 47%;*/
    width: 20% ;
    border-radius:.5rem;
    transform: translateY(-100%);
}
.legalese{
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: #302323;
    color: white;
}
#hWork{

}
